.slideshow {
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    .action {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #666;
        background-color: hsla(0, 10%, 70%, 0.2);
        top: 50%;
        z-index: 10;
        font-size: 32px;
        text-align: center;
        color: #666;
        line-height: 22px;
        cursor: pointer;

        &.left {
            left: 10px;
        }

        &.right {
            right: 10px;
        }

        &:hover {
            background-color: hsla(0, 10%, 70%, 0.1);
            border: 1px solid #ccc;
            color: #ccc;
        }
    }

    .slides {
        display: flex;

        overflow-x: auto;
        scroll-snap-type: x mandatory;

        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        /*
        scroll-snap-points-x: repeat(300px);
        scroll-snap-type: mandatory;
        */
    }

    .slides > img {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        margin-right: 50px;
        border-radius: 10px;
        background: #eee;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
    }
}
